
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <%= link_to 'Back', :back, class: "has-text-info"%>
        </br></br>
        <%= render 'selected_flight'%>
        <%= render 'form', booking: @booking %>
        
      </div>
    </div>
  </div>
</section>




