/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$darkteal: hsl(204, 47%, 26%);
$lightteal: hsl(198, 43%, 37%);
$greytan: hsl(22, 8%, 79%);
$greyblue: hsl(197, 16%, 61%);
$primary: $lightteal;
$dark: $darkteal;
$info: $greytan;
$success: $greyblue;
$link: $darkteal;
$text: white;
@import "bulma";
body,
html {
    height: 100%;
    background: rgb(206, 201, 198);
    background: linear-gradient(0deg, rgba(206, 201, 198, 1) 0%, rgba(149, 170, 178, 1) 34%, rgba(54, 112, 136, 1) 77%, rgba(35, 72, 96, 1) 100%);
    background-attachment: fixed;
}

h1,
h2 {
    font-family: 'Quicksand', sans-serif;
}

p {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 1.5rem;
}

.navbar {
    background-color: transparent;
}

.field-label {
    flex-grow: 0;
    min-width: 100px;
}

.flight-form {
    margin-bottom: 3em;
}

.radio-btn {
    display: inline-flex;
    align-items: center;
}

div.select.is-rounded select {
    border-color: transparent;
    opacity: 75%;
}

div.icon-heading {
    display: inline-flex;
    vertical-align: middle;
}

div.icon-heading span {
    padding-right: 10px;
}